<header class="w-full absolute z-50 bg-gray-700 text-white">

  <div class="flex flex-wrap items-center pl-4 pr-4">

    <div class="flex rounded-full bg-pink-500 text-sm h-4 w-4 p-5 items-center justify-center">DG</div>
    <div class="flex h-16 items-center pl-2 pr-2">
      <span class="ml-2 mr-4">Devon Gennuso</span>
    </div>

    <button
      class="border-teal-600 border-2 p-2 ml-auto hover:bg-indigo-700 md:hidden"
      role="button"
      aria-roledescription="toggle menu"
      (click)="toggleMenu()">Menu
    </button>

    <div class="flex-fill md-flex-reset"></div>

    <nav class="flex flex-wrap flex-col items-center flex-grow md:ml-auto md:flex-row md:flex-grow-0 md:block opacity-0 animated" [ngClass]="{'hidden': isOpen}">
      <ul class="w-full md:flex md:w-auto">
        <li class="pt-4 pb-4 pl-4 pr-4 -ml-4 -mr-4 hover:bg-indigo-700 cursor-pointer border-gray-300 border-b md:m-0 md:border-none">
          <svg width="24" height="24" viewBox="0 0 32 32" class="inline-block mr-1">
            <circle fill="pink" cx="16" cy="16" r="16"/>
          </svg>
          <i class="lni-bulb align-middle mr-2 text-indigo-300 size-sm"></i>
          <a routerLink="/home">Home</a>
        </li>
        <li class="pt-4 pb-4 pl-4 pr-4 -ml-4 -mr-4 hover:bg-indigo-700 cursor-pointer border-gray-300 border-b md:m-0 md:border-none">
          <svg width="24" height="24" viewBox="0 0 32 32" class="inline-block mr-1">
            <circle fill="rebeccapurple" cx="16" cy="16" r="16"/>
          </svg>
          <i class="lni-code-alt align-middle mr-2 text-pink-300 size-sm"></i>
          <a routerLink="/about-me">About</a>
        </li>
        <li class="pt-4 pb-4 pl-4 pr-4 -ml-4 -mr-4 hover:bg-indigo-700 cursor-pointer border-gray-300 border-b md:m-0 md:border-none">
          <svg width="24" height="24" viewBox="0 0 32 32" class="inline-block mr-1">
            <circle fill="magenta" cx="16" cy="16" r="16"/>
          </svg>
          <i class="lni-comment-alt align-middle mr-2 text-teal-300 size-sm"></i>
          Contact Me
        </li>
      </ul>
    </nav>
  </div>

</header>
